.env
.env.*

*-env
*-env.*
*-env/

*.class

*.log

/target/
/bin/
/out/
/build/

.idea/
.vscode/
*.iml
/.idea/
/*.iml
Set-Content -Path .gitignore -Encoding utf8 -Value @"
# Java + Maven
/target/
*.class
*.log

# IDEs
/.idea/
/.vscode/
*.iml

# SO
.DS_Store
Thumbs.db
"@